-i https://pypi.org/simple
appdirs==1.4.3
attrs==17.4.0
autoflake==1.2
black==18.6b4
click==6.7
git+https://github.com/aruneko/hacking.git#egg=hacking
isort==4.3.4
pyflakes==2.0.0
pyre-check==0.0.10
python-dotenv==0.9.1
toml==0.9.4
