[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
chalice = "*"
pbr = "*"
peewee-validates = "*"
PyJWT = "*"
PyMySQL = "*"
pytz = "*"
requests = "*"
uuid = "*"
validate-email = "*"
validators = "*"

[dev-packages]
hacking = {git = "https://github.com/aruneko/hacking.git"}
pyre-check = "*"
black = "==18.6b4"
isort = "*"


[requires]
python_version = "3.6"
